#ProList {
  margin-left: 30px;
}

/* .btn-custom {
  background-color: rgb(0, 81, 179);
  color: rgb(0, 81, 179);
  font-weight: bold;
  padding: 15px;
  border-radius: 7px;
  border: solid 3px;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: rgb(0, 111, 246);
  color: rgb(237, 175, 7);
}

.link {
  color: rgb(237, 175, 7);
}

.link:hover {
  color: rgb(237, 175, 7);
}
 */

.btn-custom {
  /* background-color: rgb(0, 81, 179);
  color: rgb(237, 175, 7); */
  background-color: rgb(237, 175, 7);
  color: rgb(0, 81, 179);
  font-weight: bold;
  padding: 15px;
  border-radius: 7px;
  border: solid 3px;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: rgb(237, 175, 7);
  color: rgb(0, 81, 179);
}

.link {
  /* color: white; */
  color: rgb(237, 175, 7);
}

.link:hover {
  color: rgb(237, 175, 7);
}

.link {
  /* color: white; */
  color: rgb(0, 81, 179);
}

.link:hover {
  color: rgb(0, 81, 179);
}

.custom-toggler {
  padding: 10px;
  margin: 10px;
  color: rgb(0, 81, 179);
  border-radius: 5px;
  border: solid 3px;
  display: flex;
  justify-content: right;
}

.barItem {
  color: rgb(0, 81, 179);
  font-weight: bold;
  font-size: 20px;
}

.barItem :hover {
  border-radius: 5px;
  background-color: rgba(0, 81, 179, 0.117);
}

.footerLink {
  color: rgb(0, 81, 179);
  text-decoration: none;
  padding: 10px;
  margin: 10;
}

@media (min-width: 992px) {
  #main-img {
    background-image: url(logo\ LCB.png);
  }
}
