#ProList {
  /* margin-left: 30px; */
}

.btn-Green {
  background-color: rgb(0, 89, 62);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 15px;
  border-radius: 7px;
  border: solid 3px;
  text-decoration: none;
  border: solid 2px rgb(255, 255, 255);
}

.btn-Green-nav {
  background-color: rgb(0, 89, 62);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 15px;
  border-radius: 7px;
  border: solid 3px;
  text-decoration: none;
  border: solid 2px rgb(255, 255, 255);
  width: 250px;
}

.btn-Green:hover {
  background-color: rgb(0, 129, 90);
  color: rgb(255, 255, 255);
}

.btn-Gold {
  background-color: rgb(211, 204, 177);
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 15px;
  border-radius: 7px;
  border: solid 3px;
  text-decoration: none;
  border: solid 2px rgb(255, 255, 255);
}

.btn-Gold:hover {
  background-color: rgb(213, 195, 121);
  color: rgb(0, 0, 0);
}

.link {
  color: rgb(0, 89, 62);
}

.link:hover {
  color: rgb(0, 129, 90);
}

.custom-toggler {
  padding: 10px;
  margin: 10px;
  color: rgb(0, 89, 62);
  border-radius: 5px;
  border: solid 3px;
  display: flex;
  justify-content: right;
}

.barItem {
  color: rgb(0, 89, 62);
  font-weight: bold;
  font-size: 16px;
}

.barItem :hover {
  border-radius: 5px;
  background-color: rgba(0, 89, 62, 0.09);
}

.footerLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  margin: 10;
}

@media (min-width: 992px) {
  #main-img {
    background-image: url(logo\ LCB.png);
  }
}

.process {
  width: 100%;
  height: 100%;
  background-color: rgb(211, 204, 177);
}

.bottomSection {
  padding: 0;
  background: rgb(0, 78, 56);
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../nav-dots-small.svg),
    linear-gradient(
      60deg,
      rgb(0, 78, 56) 0%,
      rgb(0, 132, 83) 10%,
      rgb(0, 170, 79) 30%,
      rgb(196, 192, 129) 80%
    );
  border-radius: 0;
  background-size: contain;
  background-repeat: repeat;
  background-position-y: center;
  position: relative;
  height: 100%;
}

footer {
  display: block;

  background-color: rgb(0, 78, 56);
  color: rgb(255, 255, 255);
  box-shadow: 0 50vh 0 50vh #000;
}

.footer {
  unicode-bidi: isolate;
  padding: 2rem 1rem;
  position: relative;
}

.aboutUs {
  text-align: center;
  font-size: 24px;
  background-color: rgb(0, 78, 56);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 0 auto;
}

.sell {
  font-size: 24px;
  background-color: rgb(0, 78, 56);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 0 auto;
}
.Logo {
  height: 150px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 991px) {
  .navbar {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .arrow {
    transform: rotate(90deg);
  }

  .aboutUs {
    font-size: 16px;
  }
  .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Logo {
    height: 200px;
  }
}

@media screen and (max-width: 536px) {
  .Logo {
    height: 150px;
  }
  .btn-Green-nav {
    background-color: rgb(0, 89, 62);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 15px;
    border-radius: 7px;
    border: solid 3px;
    text-decoration: none;
    border: solid 2px rgb(255, 255, 255);
    width: 100%;
  }
}
